.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo__image {
    height: 32px;
    width: auto;
}

.logo__text {
    color: var(--header-logo-text-color);
    font-family: var(--header-logo-font-family);
    font-size: var(--header-logo-font-size);
    font-weight: var(--header-logo-font-weight);
    letter-spacing: var(--header-logo-letter-spacing);
}
